<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ai.api"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-sdk tools:overrideLibrary="android.support.v4, android.support.compat, android.support.mediacompat, android.support.coreutils, android.support.coreui, android.support.fragment"/>
    <application
         />
</manifest>
